html,
body {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
button,
img,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: normal;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
img {
  max-width: 100%;
  width: auto 9;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
a {
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
form {
  margin: 0;
  padding: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
input,
textarea {
  width: 100%;
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
button,
input,
textarea,
select {
  font: inherit;
  outline: none;
  vertical-align: baseline;
  *vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
