@import 'normalize'
@import 'functions'

// color palette
$main = #92F000
$white = #ffffff
$grey-light = #bec1b8
$grey-dark = #626d6f
$black = #393f44
$dark = #252b30

// responsive breakpoints
$min-desktop = "only screen and (min-width: " + em(600) + ")"

// z-indexes
$z-main = 100
$z-nav = 80

// type	
$f-xs //details
	font-size em(12)
	font-weight 300
	line-height 1.2
	
$f-s //details
	font-size em(14)
	font-weight 300
	line-height 1.2
	
$f-r //body
	font-size em(16) 
	font-weight 300
	line-height 1.4
	
$f-h2
	font-size em(21)
	font-weight 300
	line-height 1.2
	
$f-h1
	font-size em(26)
	font-weight 500
	line-height 1.2
	text-transform uppercase
	
$f-xl
	font-size em(40)
	font-weight 500
	
h1
	@extend $f-h1
	margin 0 auto
	
h2
	@extend $f-h2
	margin 0 auto
	
h3
	@extend $f-h2
	margin em(24) auto em(6)
	
p 
	@extend $f-r
	margin 0 auto em(4)
	
br
	display block
	content ""
	line-height 2
	margin .25em 0
	
// global
body
	margin 0 auto
	padding 0
	font-family Ubuntu, Helvetica, sans-serif
	font-size 1em
	line-height 1
	color $black
	background $black
	overflow-x hidden
	cursor default //removed text select on p

// ui
ul
	margin 0 auto
	padding 0
	li
		margin 0 auto
		padding 0 0 em(8)

a
	color inherit
	text-decoration none
	
form
	position relative
	label
		display block
		color inherit
	[type=submit]
		width 110%
		margin-left -5%
		padding em(12) 1em
		color $white

input, textarea
	margin 0 auto
	padding 0
	color inherit
	border none
	border-radius 0  //removes webkit radius
	background none
	
button
	@extend $f-h2
	margin 0 auto
	padding .5em .75em
	text-transform uppercase
	color inherit
	border none
	background none
	transition .5s

//custom icons
@font-face
	font-family 'compass'
	src url('../compass.woff') format('woff')

[class^="i-"]:before, [class*=" i-"]:before 
	margin-right em(4)
	font-family 'compass'
	font-size 85%
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	
.i-sun:before {
	content: "\e607";
}

.i-moon:before {
	content: "\e608";
}

.i-wind:before {
	content: "\e609";
}

.i-cloudy:before {
	content: "\e60a";
}

.i-cloud:before {
	content: "\e60b";
}

.i-lightning:before {
	content: "\e60c";
}

.i-rainy:before {
	content: "\e60d";
}

.i-rainy2:before {
	content: "\e60e";
}

.i-windy:before {
	content: "\e60f";
}

.i-windy2:before {
	content: "\e610";
}

.i-snow:before {
	content: "\e611";
}

.i-cloudy2:before {
	content: "\e612";
}

.i-down:before {
	content: "\e613";
}

.i-length:before {
	content: "\e600";
}

.i-gain:before {
	content: "\e601";
}

.i-block:before {
	content: "\e614";
}

.i-gauge:before {
	content: "\e602";
}

.i-map:before {
	content: "\e603";
}

.i-search:before {
	content: "\e604";
}

.i-back:before {
	content: "\e605";
}

.i-water:before {
	content: "\e615";
}

.i-logo:before {
	content: "\e606";
}

//global
main
	position fixed
	z-index $z-main
	top 0
	right 0
	bottom 0
	left 0
	height 100%
	padding 0 4% //same as body border-top
	overflow-x hidden
	background url(../img/bg.jpg) center / cover fixed
	transition .75s ease-out 0s
	.overlay
		position absolute
		right 0
		bottom 0
		left 0
		height em(56)
		background $main
	
	// transition animations
		
	&.searching
		height 0
		transition-delay .75s
		.overlay
			height 100%
			transition .75s ease-out //same time as main-delay
		#logo
			  opacity 0
			  top -1em
			  transition-delay 0
		#search
			opacity 0
			transition .25s

#logo
	position relative
	top 0
	margin-top 5%
	color $white
	transition 1s .25s
	.i-logo
		font-size 14em
		text-align center
		&:before
			margin 0
		
	
#search
	color $white
	position absolute
	bottom 0
	left 4%
	right @left
	fieldset
		margin em(0) auto em(16)
		.name
			@extend $f-xs
			margin-bottom em(12)
		input[type=radio]
			display none
			+ label
				@extend $f-s
				@extend $cursor
				display inline-block
				float left
				width 24%
				text-align center
				margin 0 .5% 1em
				padding em(8)
				background-color $dark
				outline none
				&:first-of-type
					border-radius em(4) 0 0 em(4)
				&:last-of-type
					border-radius 0 em(4) em(4) 0
			&:checked + label
				color $black
				background $white
			&:checked + label[for*="all"]
				color $white
				background $grey-dark

// search results nav
nav
	position fixed
	z-index $z-nav
	top 0
	left 0
	right 0
	color $grey-light
	background $dark
	border-top 1px solid $main
	border-bottom 1px solid $black
	#back
		float left
		color $main
		&:before
			margin 0
		&:hover, &:focus
			background $black
	ul
		position absolute
		right 0
		transition .5s
		li
			@extend $f-s
			@extend $cursor
			display inline-block
			transition .5s
			opacity 0
			width 0
			&.help
				opacity 1
				width auto
				padding 1.125em 0 1.125em 1em
				color $grey-dark
				transition 0
			&.active
				opacity 1
				width auto
				color $main
				padding 1.125em 1.125em 1.125em .5em
		&:hover
			background $black
	&.sorting
		#back
			transform translateX(-100%)
			-webkit-transform translateX(-100%)
		ul
			background none
			right .5em
		li
			opacity 1
			width auto
			padding 1.125em .75em
			&:hover
				color $main
				background $black
			&.help
				opacity 0
				padding 0
				width 0

#search-results
	position absolute
	top 0
	left 0
	right 0
	margin-top 3em //nav height

.hike
	border-bottom 2px solid $dark
	overflow hidden
	// highlight (top image, name, etc)
	.img
		@extend $cursor
		position relative
		min-height 19em //for mobile when it gets too small
		padding 5% 6em 50% 4%
		color $white
		background-size cover
		background-position center bottom
		.bg //gradient
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			transition 1s
			background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(75%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 75%); /* W3C */
		h1
			position relative
		.location
			@extend $f-xs
			position relative
		.difficulty
			position absolute
			top 6%
			right 4%
			text-align right
			.numerical
				@extend $f-xl
				color $main
				sup
					position relative
					top -(em(20))
					margin-left em(2)
					color $white
					font-size 35%
					font-weight 300
			.description
				@extend $f-r
				text-align center
				text-transform capitalize
				margin-top -.25em
		ul //quick details
			position absolute
			bottom 0
			left 0
			right 0
			background alpha($black,.9)
			transition background 1s
			li
				display inline-block
				width 33.333333%
				text-align center
				padding em(13) 0 em(10)
				transition 1s
				[class^="i-"], [class*=" i-"] 
					@extend $f-xs
					color $grey-light
				.detail
					@extend $f-r
				&:nth-child(2)
					border-left 1px solid $dark
					border-right @border-left
					transition 1s
	&.open
		.bg
			transform translateY(-100%)
			-webkit-transform translateY(-100%)
		ul
			background alpha($white,.9)
			li
				color $grey-dark
				[class^="i-"], [class*=" i-"] 
					color $grey-dark
				&:nth-child(2)
					border-color $white !important
		.content
			h3, p
				transform translateY(0)
			
	// main content (description, etc)
	.content
		display none
		position relative
		overflow hidden
		padding 0 4% 6%
		background $white
		h3
			color $main
			transform translateY(-1em)
			transition 1s ease-out
		p
			transform translateY(1em)
			transition transform 1s ease-out