html,
body {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
button,
img,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: normal;
}
ul,
ol {
  list-style: none;
  list-style-image: none;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
img {
  max-width: 100%;
  width: auto 9;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
a {
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
form {
  margin: 0;
  padding: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
input,
textarea {
  width: 100%;
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
button,
input,
textarea,
select {
  font: inherit;
  outline: none;
  vertical-align: baseline;
  *vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#search fieldset input[type=radio] + label,
nav ul li,
.hike .img {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#search fieldset .name,
.hike .img .location,
.hike .img ul li [class^="i-"],
.hike .img ul li [class*=" i-"] {
  font-size: 0.75em;
  font-weight: 300;
  line-height: 1.2;
}
#search fieldset input[type=radio] + label,
nav ul li {
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.2;
}
p,
.hike .img .difficulty .description,
.hike .img ul li .detail {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
}
h2,
h3,
button {
  font-size: 1.3125em;
  font-weight: 300;
  line-height: 1.2;
}
h1 {
  font-size: 1.625em;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}
.hike .img .difficulty .numerical {
  font-size: 2.5em;
  font-weight: 500;
}
h1 {
  margin: 0 auto;
}
h2 {
  margin: 0 auto;
}
h3 {
  margin: 1.5em auto 0.375em;
}
p {
  margin: 0 auto 0.25em;
}
br {
  display: block;
  content: "";
  line-height: 2;
  margin: 0.25em 0;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1;
  color: #393f44;
  background: #393f44;
  overflow-x: hidden;
  cursor: default;
}
ul {
  margin: 0 auto;
  padding: 0;
}
ul li {
  margin: 0 auto;
  padding: 0 0 0.5em;
}
a {
  color: inherit;
  text-decoration: none;
}
form {
  position: relative;
}
form label {
  display: block;
  color: inherit;
}
form [type=submit] {
  width: 110%;
  margin-left: -5%;
  padding: 0.75em 1em;
  color: #fff;
}
input,
textarea {
  margin: 0 auto;
  padding: 0;
  color: inherit;
  border: none;
  border-radius: 0;
  background: none;
}
button {
  margin: 0 auto;
  padding: 0.5em 0.75em;
  text-transform: uppercase;
  color: inherit;
  border: none;
  background: none;
  transition: 0.5s;
}
@font-face {
  font-family: 'compass';
  src: url("../compass.woff") format('woff');
}
[class^="i-"]:before,
[class*=" i-"]:before {
  margin-right: 0.25em;
  font-family: 'compass';
  font-size: 85%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.i-sun:before {
  content: "\e607";
}
.i-moon:before {
  content: "\e608";
}
.i-wind:before {
  content: "\e609";
}
.i-cloudy:before {
  content: "\e60a";
}
.i-cloud:before {
  content: "\e60b";
}
.i-lightning:before {
  content: "\e60c";
}
.i-rainy:before {
  content: "\e60d";
}
.i-rainy2:before {
  content: "\e60e";
}
.i-windy:before {
  content: "\e60f";
}
.i-windy2:before {
  content: "\e610";
}
.i-snow:before {
  content: "\e611";
}
.i-cloudy2:before {
  content: "\e612";
}
.i-down:before {
  content: "\e613";
}
.i-length:before {
  content: "\e600";
}
.i-gain:before {
  content: "\e601";
}
.i-block:before {
  content: "\e614";
}
.i-gauge:before {
  content: "\e602";
}
.i-map:before {
  content: "\e603";
}
.i-search:before {
  content: "\e604";
}
.i-back:before {
  content: "\e605";
}
.i-water:before {
  content: "\e615";
}
.i-logo:before {
  content: "\e606";
}
main {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 0 4%;
  overflow-x: hidden;
  background: url("../img/bg.jpg") center/cover fixed;
  transition: 0.75s ease-out 0s;
}
main .overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3.5em;
  background: #92f000;
}
main.searching {
  height: 0;
  transition-delay: 0.75s;
}
main.searching .overlay {
  height: 100%;
  transition: 0.75s ease-out;
}
main.searching #logo {
  opacity: 0;
  top: -1em;
  transition-delay: 0;
}
main.searching #search {
  opacity: 0;
  transition: 0.25s;
}
#logo {
  position: relative;
  top: 0;
  margin-top: 5%;
  color: #fff;
  transition: 1s 0.25s;
}
#logo .i-logo {
  font-size: 14em;
  text-align: center;
}
#logo .i-logo:before {
  margin: 0;
}
#search {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 4%;
  right: 4%;
}
#search fieldset {
  margin: 0em auto 1em;
}
#search fieldset .name {
  margin-bottom: 0.75em;
}
#search fieldset input[type=radio] {
  display: none;
}
#search fieldset input[type=radio] + label {
  display: inline-block;
  float: left;
  width: 24%;
  text-align: center;
  margin: 0 0.5% 1em;
  padding: 0.5em;
  background-color: #252b30;
  outline: none;
}
#search fieldset input[type=radio] + label:first-of-type {
  border-radius: 0.25em 0 0 0.25em;
}
#search fieldset input[type=radio] + label:last-of-type {
  border-radius: 0 0.25em 0.25em 0;
}
#search fieldset input[type=radio]:checked + label {
  color: #393f44;
  background: #fff;
}
#search fieldset input[type=radio]:checked + label[for*="all"] {
  color: #fff;
  background: #626d6f;
}
nav {
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  right: 0;
  color: #bec1b8;
  background: #252b30;
  border-top: 1px solid #92f000;
  border-bottom: 1px solid #393f44;
}
nav #back {
  float: left;
  color: #92f000;
}
nav #back:before {
  margin: 0;
}
nav #back:hover,
nav #back:focus {
  background: #393f44;
}
nav ul {
  position: absolute;
  right: 0;
  transition: 0.5s;
}
nav ul li {
  display: inline-block;
  transition: 0.5s;
  opacity: 0;
  width: 0;
}
nav ul li.help {
  opacity: 1;
  width: auto;
  padding: 1.125em 0 1.125em 1em;
  color: #626d6f;
  transition: 0;
}
nav ul li.active {
  opacity: 1;
  width: auto;
  color: #92f000;
  padding: 1.125em 1.125em 1.125em 0.5em;
}
nav ul:hover {
  background: #393f44;
}
nav.sorting #back {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
nav.sorting ul {
  background: none;
  right: 0.5em;
}
nav.sorting li {
  opacity: 1;
  width: auto;
  padding: 1.125em 0.75em;
}
nav.sorting li:hover {
  color: #92f000;
  background: #393f44;
}
nav.sorting li.help {
  opacity: 0;
  padding: 0;
  width: 0;
}
#search-results {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 3em;
}
.hike {
  border-bottom: 2px solid #252b30;
  overflow: hidden;
}
.hike .img {
  position: relative;
  min-height: 19em;
  padding: 5% 6em 50% 4%;
  color: #fff;
  background-size: cover;
  background-position: center bottom;
}
.hike .img .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 1s;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.5)), color-stop(75%, rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 75%); /* W3C */
}
.hike .img h1 {
  position: relative;
}
.hike .img .location {
  position: relative;
}
.hike .img .difficulty {
  position: absolute;
  top: 6%;
  right: 4%;
  text-align: right;
}
.hike .img .difficulty .numerical {
  color: #92f000;
}
.hike .img .difficulty .numerical sup {
  position: relative;
  top: -1.25em;
  margin-left: 0.125em;
  color: #fff;
  font-size: 35%;
  font-weight: 300;
}
.hike .img .difficulty .description {
  text-align: center;
  text-transform: capitalize;
  margin-top: -0.25em;
}
.hike .img ul {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(57,63,68,0.9);
  transition: background 1s;
}
.hike .img ul li {
  display: inline-block;
  width: 33.333333%;
  text-align: center;
  padding: 0.8125em 0 0.625em;
  transition: 1s;
}
.hike .img ul li [class^="i-"],
.hike .img ul li [class*=" i-"] {
  color: #bec1b8;
}
.hike .img ul li:nth-child(2) {
  border-left: 1px solid #252b30;
  border-right: 1px solid #252b30;
  transition: 1s;
}
.hike.open .bg {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
.hike.open ul {
  background: rgba(255,255,255,0.9);
}
.hike.open ul li {
  color: #626d6f;
}
.hike.open ul li [class^="i-"],
.hike.open ul li [class*=" i-"] {
  color: #626d6f;
}
.hike.open ul li:nth-child(2) {
  border-color: #fff !important;
}
.hike.open .content h3,
.hike.open .content p {
  transform: translateY(0);
}
.hike .content {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 0 4% 6%;
  background: #fff;
}
.hike .content h3 {
  color: #92f000;
  transform: translateY(-1em);
  transition: 1s ease-out;
}
.hike .content p {
  transform: translateY(1em);
  transition: transform 1s ease-out;
}
