extends layout

block content

	//- div #{JSON.stringify(hikes)}
	
	//- fixed nav on top
	nav
		button#back.i-back
		
		ul
			li.active <span class='i-map'></span>Distance
			li <span class='i-gauge'></span>Difficulty
			li <span class='i-length'></span>Length
			li <span class='i-gain'></span>Gain

	//- search result
	#search-results

		.hike
			//- top portion
			.img(style='background-image: url(http://www.wta.org/hiking-info/gallery/images/2015/rialto-sea-stacks/@@images/bb0eaee9-a4c5-491f-b70c-51e767af9d13.jpeg);')
				.bg
				h1 perry creek
				.location North Cascades - Mountain Loop Highway
				.difficulty
					div.numerical 4<sup>/5</sup>
					div.description hard
				ul
					li
						.i-map Distance
						.detail 1.5 hours
					li
						.i-length Length
						.detail 8.7 mi
					li
						.i-gain Gain
						.detail 3400 ft 
			//- hike content
			.content
				//- hike description
				h3 Perry Creek
				p Perry Creek proves you can have it all, and you can have it all in one hike – old growth forest, wildflowers, waterfalls, meadows, expansive mountain views, even lakes!<br>As if that weren’t enough, it also provides access to two summit scrambles and, in the right season, a wealth of wild blueberries and fall color.
				//- driving directions
				h3 Directions
				p Take Hwy 92 to Granite Falls, where it ends and becomes E Stanley Street. Go east 0.3 miles, then turn left (north) onto N Alder Avenue, which turns into the Mountain Loop Highway.

			
			
		.hike
			//- top portion
			.img(style='background-image: url(http://www.wta.org/site_images/hikes/slavin-loop-mtnweasel.jpg/@@images/1a27692b-deca-472a-ab7c-48bd6bdd2e33.jpeg);')
				.bg
				h1 Discovery Park Loop Trail
				.location Puget Sound and Islands - South Sound
				.difficulty
					div.numerical 1<sup>/5</sup>
					div.description easy
				ul
					li
						.i-map Distance
						.detail 12 min
					li
						.i-length Length
						.detail 0.6 mi
					li
						.i-gain Gain
						.detail 576 ft 
			//- hike content
